<% layout("layouts/boilerplate") %>

<div>
  <h1>About Sean</h1>
  <p>Welcome to my corner of the internet! I'm Sean Orlando, a versatile professional with a passion for technology, fitness, and culinary adventures. This page not only provides you with insights into my professional journey but also offers a glimpse into my diverse interests and personality.</p>

  <h5>Professional Background</h5>
  <p>As a seasoned Lead Software Engineer and Product Manager, I've had the privilege of navigating the dynamic landscape of technology for over 6 years. My career has been an exhilarating journey marked by continuous growth, problem-solving, and innovation. I've been fortunate to collaborate with talented teams, drive successful projects, and contribute to the development of cutting-edge software solutions. My roles have encompassed a wide range of responsibilities, including:
    <ul>
      <li><span class="fw-bold">Technical Leadership:</span> I have led cross-functional teams, fostering a culture of collaboration and innovation while ensuring the delivery of high-quality software products.</li>
      <li><span class="fw-bold">Product Strategy:</span> My experience as a Product Manager has honed my ability to envision, plan, and execute product roadmaps that align with business goals and user needs.</li>
      <li><span class="fw-bold">Problem Solving:</span> I thrive on challenges, using my technical expertise to find creative solutions to complex problems.</li>
      <li><span class="fw-bold">Continuous Learning:</span> The world of technology is ever-evolving, and I am dedicated to staying up-to-date with the latest trends and tools to remain at the forefront of innovation.</li>
    </ul></p>

  <h5>Interests and Hobbies</h5>
  <p>Outside the world of coding and product management, I have a diverse set of interests that keep me engaged and balanced: Fitness Enthusiast: I'm an avid fitness enthusiast, and my workouts extend beyond the typical gym routine. CrossFit has become a passion of mine, pushing me to new physical and mental limits while fostering a strong sense of discipline and determination. Culinary Explorer: When I'm not immersed in tech or lifting weights, I'm often found experimenting in the kitchen. Cooking is a creative outlet for me, allowing me to explore new cuisines, flavors, and techniques. There's something deeply satisfying about crafting a delicious meal from scratch.</p>

  <h5>Conclusion</h5>
  <p>I'm excited to share my professional experiences and personal interests with you through this website. Whether you're here to learn about my work in software engineering and product management or to explore shared interests like fitness and cooking, I hope you find inspiration and value in the content I've curated. Thank you for visiting, and please don't hesitate to reach out if you'd like to connect, collaborate, or simply chat about technology, fitness, or the joys of a well-cooked meal. Let's embark on this digital journey together!</p>
</div>
